<style>
.plates_holder {
    width: 30%;
    margin-right: 1%;
    min-height: 16px;
    float: left;
}
.search_holder {
    width: 50%;
    min-height: 16px;
    float: left;
}
a.button {
    background-color: #E6E6E6;
    padding: 4px 7px
    border: 1px solid #333;
    border-radius: 7px;
}
</style>
<h1>Plates</h1>
<hr>
    <form action="{% url 'plates:index' %}" method="post" name="frmSearch" id="frmSearch">
        <div class="search_holder">
            Search License Plate
            <div style="clear: both; height: 4px;"></div>
            <input type="text" name="plate_keyword" id="plate_keyword" value="{{ request.POST.plate_keyword }}" style="width: 200px;">
            <div style="clear: both; height: 4px;"></div>
            <a href="#" onclick="document.getElementById('frmSearch').submit()" class="button" >Search</a>
            {% csrf_token %}
        </div>
        <div class="search_holder">
            Search Multiple Plates
            <div style="clear: both; height: 4px;"></div>
            <textarea name="multi_plates" id="multi_plates" value="" style="width: 200px; height: 100px;">{{ request.POST.multi_plates }}</textarea>
            <div style="clear: both; height: 4px;"></div>
        </div>
    </form>
    <div style="clear: both; height: 0px;"></div>
<hr>
<div style="clear: both; height: 0px;"></div>
{% if lic_plates %}
    <center>
    {% if lic_plates.has_previous %}
        <a href="?page={{ lic_plates.previous_page_number }}" >previous</a>
    {% endif %}
    <span class="current" >Page {{ lic_plates.number }} of {{ lic_plates.paginator.num_pages }} </span>
    {% if lic_plates.has_next %}
        <a href="?page={{ lic_plates.next_page_number }}" >next</a>
    {% endif %}
    </center>

    <div style="clear: both; height: 12px;" ></div>

    {% for plate in lic_plates %}
        <div class="plates_holder">
            <img src="http://dummyimage.com/225/175/FFFFFF/000000" />
            <div style="clear: both; height: 7px;" ></div>
            <a href="{% url 'plates:details' plate.id %}" >{{ plate.plate_number }}</a>
            <div style="clear: both; height: 7px;" ></div>
            Date Scanned: {{ plate.entry_date|date:"m/d/Y g:i A" }}
            <div style="clear: both; height: 7px;" ></div>
        </div>
        {% if forloop.counter|divisibleby:3  %}
            <div style="clear: both; height: 25px;" ></div>
        {% endif %}
    {% endfor %}

    <center>
    <div style="clear: both; height: 12px;" ></div>
    {% if lic_plates.has_previous %}
        <a href="?page={{ lic_plates.previous_page_number }}" >previous</a>
    {% endif %}
    <span class="current" >Page {{ lic_plates.number }} of {{ lic_plates.paginator.num_pages }} </span>
    {% if lic_plates.has_next %}
        <a href="?page={{ lic_plates.next_page_number }}" >next</a>
    {% endif %}
    </center>
    <div style="clear: both; height: 30px;" ></div>

{% else %}
    <p>No Plates.</p>
{% endif %}