
<h1>My Account</h1>
<hr>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'plates:save_account' %}" method="post">
    {% csrf_token %}

    Email:
    <div style="clear: both; height: 7px;" ></div>
    <input type="text" name="email" id="email" value="{{ customers.email }}" />

<input type="submit" value="Update" />
</form>